.Project-summary::first-letter {
  margin-left: 20px;
}

@media screen and (min-width: 700px) {
  .Project-summaries {
    width: 95%;
    height: 160px;
    margin-top: 1rem;
  }
}

.Project-summaries {
  line-height: 1.5;
  color: var(--text-color);

  white-space: pre-line;
  width: 100%;
  height: 160px;
  font-family: "Lato", sans-serif !important;
  font-weight: 300;
}

.Project-description {
  overflow-y: scroll;
  width: 100%;
  padding: 5px 5px 5px 15px;
}
